<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{#if showTitle}}
    <h1>Tiêu đề trang Web - Hbs Template</h1>
    {{/if}}
    {{{body}}}
    {{#if showContentTinhToan}}
    <h2>Số A: {{soA}}</h2>
    <h2>Số B: {{soB}}</h2>
    <h2>Phép tính: {{phepTinh}}</h2>
    <h2>KQ: {{kq}}</h2>
    {{/if}}
</body>

</html>